@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../webfonts/roboto-v29-latin-regular.woff2") format("woff2"),
       url("../webfonts/roboto-v29-latin-regular.woff") format("woff");
}
@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url("../webfonts/roboto-v29-latin-italic.woff2") format("woff2"),
       url("../webfonts/roboto-v29-latin-italic.woff") format("woff");
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("../webfonts/roboto-v29-latin-500.woff2") format("woff2"),
       url("../webfonts/roboto-v29-latin-500.woff") format("woff");
}
@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url("../webfonts/roboto-v29-latin-500italic.woff2") format("woff2"),
       url("../webfonts/roboto-v29-latin-500italic.woff") format("woff");
}
@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../webfonts/rubik-v14-latin-regular.woff2") format("woff2"),
       url("../webfonts/rubik-v14-latin-regular.woff") format("woff");
}
@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("../webfonts/Rubik-Medium.woff2") format("woff2"),
       url("../webfonts/Rubik-Medium.woff") format("woff");
}
@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../webfonts/rubik-v14-latin-700.woff2") format("woff2"),
       url("../webfonts/rubik-v14-latin-700.woff") format("woff");
}
html {
    height: 100%;
    box-sizing: border-box;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}
body {
    display: flex;
    flex-direction: column;
    height: 100%;
    font-size: 15px;
    color: #434343;
    line-height: 18px;
    font-family: "Rubik", "Arial", sans-serif;
}
*:focus {
    outline: none;
    box-shadow: 0 0 0 4px rgba(41, 80, 147, 0.4);
}
.container {
    max-width: 1240px;
    padding: 0 20px;
    margin: 0 auto;
}
img {
    max-width: 100%;
    height: auto;
}
.site-header {
    padding-top: 40px;
    padding-bottom: 23px;
    background-color: #F6F6F9;
    border-top: 4px solid #295093;
}
.site-header-top {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 40px;
}
.site-header__logo {
    margin-right: 17px;
}
.site-header__toggler {
    display: none;
}
.site-header__exchanges {
    margin-right: 17px;
}
.site-header__actions {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-left: auto;
}
.logo {
    display: flex;
    padding: 4px 8px;
    background-color: #fff;
    box-shadow: 0px 2px 6px rgba(202, 202, 202, 0.25);
    border-radius: 5px;
    transition: transform 0.3s ease;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    -ms-border-radius:5px;
    -o-border-radius:5px;
    -webkit-transition: transform 0.3s ease;
    -moz-transition: transform 0.3s ease;
    -ms-transition: transform 0.3s ease;
    -o-transition: transform 0.3s ease;
}
.logo:hover {
    transform: scale(1.025);
    -webkit-transform: scale(1.025);
    -moz-transform: scale(1.025);
    -ms-transform: scale(1.025);
    -o-transform: scale(1.025);
}
.logo:focus {
    box-shadow: 0 0 0 4px rgba(41, 80, 147, 0.4);
}
.exchange-rates {
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
    list-style-type: none;
    color: #7A7A7A;
}
.exchange-rates__item:not(:last-child) {
    margin-right: 26px;
}
.exchange-rates__icon {
    color:#285193;
}
.site-header__search-button {
    margin-right: 22px;
}.site-header__language-toggler {
    margin-right: 24px;
}
.search-button__wrapper {
    padding: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.search-button {
    padding: 0;
    border: none;
    background-color: #fff;
    transition: box-shadow 0.3s ease;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.search-button:focus {
    outline: none;
    box-shadow: 0 0 0 4px rgba(41, 80, 147, 0.4);
}
.language-toggler {
    padding: 10px;
    border: none;
    background-color: #fff;
    transition: box-shadow 0.3s ease;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    -webkit-transition: box-shadow 0.3s ease;
    -moz-transition: box-shadow 0.3s ease;
    -ms-transition: box-shadow 0.3s ease;
    -o-transition: box-shadow 0.3s ease;
}
.language-toggler:focus {
    outline: none;
    box-shadow: 0 0 0 4px rgba(41, 80, 147, 0.4);
}
.search-button:hover,
.language-toggler:hover {
    cursor: pointer;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
}
.language-toggler__wrapper {
    display: flex;
    align-items: center;
    font-weight: 500;
}
.language-toggler__img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.telegram-join {
    display: flex;
    align-items: center;
    padding: 10px;
    text-decoration: none;
    transition: box-shadow 0.3s ease;
    border-radius: 5px;
    font-weight: 500;
    -webkit-border-radius: 5px;
    -moz-border-radius:5px;
    -ms-border-radius:5px;
    -o-border-radius:5px;
    -webkit-transition: box-shadow 0.3s ease;
    -moz-transition: box-shadow 0.3s ease;
    -ms-transition: box-shadow 0.3s ease;
    -o-transition: box-shadow 0.3s ease;
}
.telegram-join:hover {
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
}
.telegram-join--dark {
    color: #fff;
    background-color: #1E96C8;
    background-image: linear-gradient(90deg, #1E96C8 15.07%, #37AEE2 85.96%);
}
.telegram-join--dark:hover {
    background-color: #1E96C8;
    background-image: linear-gradient(90deg, #37AEE2 15.07%, #1E96C8 85.96%);
}
.telegram-join--white {
    background-color: #fff;
    color: rgba(41, 80, 147, 1);
}
.site-footer-telegram {
    flex-shrink: 0;
}
.telegram-join__img {
    margin-right: 7px;
}
.sitenav {
    border-radius: 5px;
    margin-bottom: 18px;
    font-weight: 500;
    font-size: 19px;
    line-height: 23px;
    background-color: #fff;
    box-shadow: 0px 2px 5px rgba(159, 159, 159, 0.19);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.sitenav__list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 17px 12px;
    margin: 0;
    list-style-type: none;
}
.sitenav__item {
    margin: 5px 12px;
}
.sitenav__link {
    display: block;
    color: #515151;
    text-decoration: none;
    transition: color 0.3s ease;
    -webkit-transition: color 0.3s ease;
    -moz-transition: color 0.3s ease;
    -ms-transition: color 0.3s ease;
    -o-transition: color 0.3s ease;
}
.sitenav__link:hover {
    color: #295091;
}
.top-banner__link {
    display: flex;
}
.main-content {
    flex-grow: 1;
    padding-top: 22px;
    padding-bottom: 38px;
}
.site-footer {
    padding: 18px 0;
    color: #fff;
    font-size: 14px;
    line-height: 17px;
    background-color: #295093;
}
.site-footer *:focus {
    box-shadow: 0 0 0 4px rgba(255,255,255, 0.4);
}
.site-footer__top {
    display: flex;
    align-items: center;
}
.site-footer_logo {
    flex-shrink: 0;
    display: flex;
    padding: 11px;
    margin-right: auto;
    border-radius: 5px;
    background-color: #133C82;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.site-footer__sub-text {
    margin: 0;
    margin-right: 17px;
    padding-right: 25px;
    padding-left: 25px;
}
.site-footer-bottom {
    display: flex;
    flex-wrap: wrap;
}
.site-footer__about {
    max-width: 365px;
    margin-right: 110px;
}
.site-footer__heading {
    margin-top: 0;
    font-size: 14px;
    line-height: 17px;
}
.site-footer-divider {
    height: 3px;
    border: none;
    background-color: #133C82;
    margin-top: 18px;
    margin-bottom: 12px;
}
.site-footer__nav {
    max-width: 520px;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    list-style-type: none;
}
.site-footer__nav-item {
    width: 50%;
    padding-right: 10px;
    margin-bottom: 10px ;
}
.site-footer__nav-link:hover {
    text-decoration: underline;
}
.site-footer__nav-link {
    display: inline-block;
    color: #fff;
    font-weight: 500;
    text-decoration: none;
}

@media (max-width: 1060px) {
    .site-footer__about,
    .site-footer__nav {
        width: 50%;
        max-width: 100%;
        margin-right: 0;
        padding-right: 30px;
    }
}
@media (max-width: 1000px) {
    .site-header {
        padding-top: 20px;
    }
    .site-header-top {
        align-items: stretch;
    }
    .site-header__logo {
        margin-right: 0;
    }
    .exchange-rates {
        order: -1;
        width: 100%;
        justify-content: center;
        margin-bottom: 15px;
    }
}
@media (max-width: 850px) {
    .site-header-top {
        margin-bottom: 20px;
    }
    .exchange-rates {
        font-size: 14px;
        line-height: 15px;
    }
    .sitenav {
        font-size: 16px;
        line-height: 20px;
    }
    .sitenav__item {
        margin-top: 3px;
        margin-bottom: 3px;
    }
    .site-footer__about,
    .site-footer__nav {
        width: 100%;
    }
    .site-footer__about {
        order: 1;
    }
    .site-footer__text {
        margin-bottom: 0;
    }
    .site-footer__nav-item {
        padding-right: 0;
    }
    .site-footer__nav {
        margin-bottom: 20px;
    }
}
@media (max-width: 750px) {
    .body {
        margin-top: 82px;
    }
    .site-header__toggler {
    position: relative;
    z-index: 20;
    display: block;
    border: none;
    padding: 10px;
    background-color: #fff;
    font-weight: 500;
    cursor: pointer;
    transition: box-shadow 0.3s ease;
    box-shadow: 0px 2px 6px rgba(202, 202, 202, 0.25);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    -webkit-transition: box-shadow 0.3s ease;
    -moz-transition: box-shadow 0.3s ease;
    -ms-transition: box-shadow 0.3s ease;
    -o-transition: box-shadow 0.3s ease;
    }
    .site-header__toggler:focus {
        box-shadow: 0 0 0 4px rgba(41, 80, 147, 0.4);
    }
    .site-header {
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
        z-index: 10;
        padding: 20px 0;
    }
    .site-header-top {
        margin-bottom: 0;
    }
    .search-button,
    .exchange-rates,
    .language-toggler,
    .site-header__telegram-join {
        display: none;
    }
    .top-banner {
        display: none;
    }
    .sitenav {
        display: none;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        z-index: 15;
        width: 60%;
        border-radius: 0;
        box-shadow: -10px 0 15px rgba(0, 0, 0, 0.1);
        margin-bottom: 0;
        transition: transform 0.3s ease;
        transform: translateX(120%);
        animation: sitenave-slide-out 0.3s ease 1 forwards;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        -o-border-radius: 0;
        -webkit-transform: translateX(120%);
        -moz-transform: translateX(120%);
        -ms-transform: translateX(120%);
        -o-transform: translateX(120%);
        -webkit-transition: transform 0.3s ease;
        -moz-transition: transform 0.3s ease;
        -ms-transition: transform 0.3s ease;
        -o-transition: transform 0.3s ease;
        -webkit-animation: sitenave-slide-out 0.3s ease 1 forwards;
    }
    .sitenav--open {
        display: block;
        animation: sitenave-slide-in 0.3s ease 1 forwards;
        -webkit-animation: sitenave-slide-in 0.3s ease 1 forwards;
    }
    .sitenav__list {
        padding: 20px;
        padding-top: 80px;
        flex-direction: column;
        align-items: flex-end;
    }
    .sitenav__item {
        width: 100%;
        margin: 0 5px;
    }
    .sitenav__item:not(:last-child) {
        border-bottom: 1px solid rgb(0 0 0 / 20%);
    }
    .sitenav__link {
        padding: 10px 10px;
        text-align: right;
        background-color: 0.3s ease;
        transition: color 0.3s ease;
        -webkit-transition: color 0.3s ease;
        -moz-transition: color 0.3s ease;
        -ms-transition: color 0.3s ease;
        -o-transition: color 0.3s ease;
    }
    .sitenav__link:active {
        background-color:#295091;
        color: #fff;
    }
    .site-footer__top {
        flex-wrap: wrap;
        align-items: stretch;
    }
    .site-footer__sub-text {
        order: 1;
        width: 100%;
        padding: 0;
        margin-top: 10px;
        margin-right: 0;
        text-align: center;
    }
    .site-footer-divider {
        margin-top: 10px;
    }
}
@media (max-width: 500px) {
    .sitenav {
        width: 80%;
    }
    .logo__img {
        width: 200px;
    }
    .site-footer__top {
        flex-direction: column;
        align-items: center;
    }
    .site-footer_logo {
        margin-right: 0;
    }
    .site-footer__sub-text {
        order: 0;
        margin-bottom: 10px;
    }
    .site-footer__nav-item {
        width: 100%;
    }
}
@keyframes sitenave-slide-in {
    from {
        transform: translateX(120%);
        -webkit-transform: translateX(120%);
        -moz-transform: translateX(120%);
        -ms-transform: translateX(120%);
        -o-transform: translateX(120%);
    }
    to {
        transform: translateX(0);
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
}
}
@keyframes sitenave-slide-out {
    from {
        transform: translateX(0);
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
}
    to {
        transform: translateX(120%);
        -webkit-transform: translateX(120%);
        -moz-transform: translateX(120%);
        -ms-transform: translateX(120%);
        -o-transform: translateX(120%);
}
}